body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}